html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2');
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #222222;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.section-title {
    padding: 0px 10px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    color: #222222;
}

.section-subtitle {
    padding: 0px 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    color: #222222;
}

/* header section */

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background: linear-gradient(to right, #5891D4, #74C8C2) no-repeat;
}

.headline {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.headline__full-name,
.headline__phone,
.headline__email-address {
    margin: 16px 10px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

#navbar {
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background: #edfaff;
    z-index: 9;
}

.header__nav {
    margin-left: 11px;
    padding-top: 16px;
}

.header__list {
    display: flex;
    align-items: left;
}

.header__item {
    padding-right: 45px;
}

.header__item:last-child {
    padding-right: 0;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    color: #222222;
    text-decoration: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* intro section */

.intro {
    margin: 120px 0 70px;
    padding: 0 10px;
}

.intro__text {
    font-weight: 400;
    font-size: 24px;
    color: #222222;
    text-decoration: none;
}

/* projects section */

.projects__title {
    margin-bottom: 20px;
}

.projects__subtitle {
    margin-bottom: 40px;
}

.projects__cards_1,
.projects__cards_2 {
    margin: 10px 10px;
}

.project__card_1,
.project__card_2 {
    min-width: 1240px;
    width: 1240px;
    height: 740px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: relative;
    overflow: hidden;
}

.project__card_2 {
    padding-top: 705px;
}

.project_1-img,
.project_2-img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: inherit;
}

.project_1-img img,
.project_2-img img {
    -moz-user-select: none;
    user-select: none;
}

.project__card_1 label,
.project__card_2 label {
    width: 45px;
    height: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.project__card_1 input:checked+label,
.project__card_2 input:checked+label {
    background: #ffffff;
}

.project__card_1 input:checked+label+.project_1-img~.project_1-img,
.project__card_2 input:checked+label+.project_2-img~.project_2-img {
    transform: translateX(100%);
}

.project__card-1_caption-link,
.project__card-2_caption-link {
    padding: 0 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    color: #5b97d2;
    text-decoration: none;
}

.project__card-1_caption {
    margin: 20px 0 40px;
}

.project__card-2_caption {
    margin: 20px 0 70px;
}

/* skills section */

.skills__title {
    margin-bottom: 20px;
}

.skills__subtitle {
    margin-bottom: 40px;
}

/* footer section */

.footer {
    width: 100%;
    height: 330px;
    margin: 0 auto;
    background: #293952;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 36px;
}

.footer__contacts_item,
.footer__item {
    padding: 18px 10px 0;
}

.contacts__title {
    color: #f5f5f5;
}

.footer__contacts_full-name,
.footer__email-address,
.footer__contacts_site,
.footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    color: #f5f5f5;
}

.footer__contacts_phone {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    text-align: left;
    color: #89BFFF;
}

.footer__icons {
    width: 250px;
    padding: 36px 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
}

/* media section */

@media screen and (max-width: 1279px) {
    .project__card_1,
    .project__card_2 {
        min-width: 1116px;
        width: 1116px;
        height: 666px;
        padding-left: 18px;
        padding-top: 27px;
    }
    .project__card_2 {
        padding-top: 634px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 40px;
    }
}

@media screen and (max-width: 1149px) {
    .project__card_1,
    .project__card_2 {
        min-width: 992px;
        width: 992px;
        height: 592px;
        padding-left: 15px;
        padding-top: 24px;
    }
    .project__card_2 {
        padding-top: 563px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 33px;
        margin-right: 4px;
    }
}

@media screen and (max-width: 1023px) {
    .project__card_1,
    .project__card_2 {
        min-width: 868px;
        width: 868px;
        height: 518px;
        padding-left: 12px;
        padding-top: 21px;
    }
    .project__card_2 {
        padding-top: 493px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 29px;
        height: 4px;
        margin-right: 3px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 889px) {
    .project__card_1,
    .project__card_2 {
        min-width: 744px;
        width: 744px;
        height: 444px;
        padding-left: 10px;
        padding-top: 17px;
    }
    .project__card_2 {
        padding-top: 423px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 25px;
        height: 4px;
        margin-right: 0;
        border-radius: 4px;
    }
}

@media screen and (max-width: 767px) {
    .headline__full-name,
    .headline__phone,
    .headline__email-address {
        font-size: 16px;
    }
    .header__item {
        padding-right: 27px;
    }
    .project__card_1,
    .project__card_2 {
        min-width: 620px;
        width: 620px;
        height: 370px;
        padding-left: 7px;
        padding-top: 15px;
    }
    .project__card_2 {
        padding-top: 352px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 20px;
        height: 3px;
        margin-right: -1px;
        border-radius: 3px;
    }
}

@media screen and (max-width: 629px) {
    .headline__full-name,
    .headline__phone,
    .headline__email-address {
        font-size: 15px;
    }
    .header__item {
        padding-right: 24px;
    }
    .project__card_1,
    .project__card_2 {
        min-width: 434px;
        width: 434px;
        height: 259px;
        padding-left: 2px;
        padding-top: 10px;
    }
    .project__card_2 {
        padding-top: 247px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 12px;
        height: 2px;
        margin-right: -4px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 479px) {
    .headline__full-name,
    .headline__phone,
    .headline__email-address {
        margin: 16px 5px;
        font-size: 14px;
    }
    .header__item {
        padding-right: 18px;
    }
    .project__card_1,
    .project__card_2 {
        min-width: 310px;
        width: 310px;
        height: 185px;
        padding-left: 0;
        padding-top: 7px;
    }
    .project__card_2 {
        padding-top: 175px;
    }
    .project__card_1 label,
    .project__card_2 label {
        width: 8px;
        height: 2px;
        margin-right: -6px;
        border-radius: 2px;
    }
    .footer__contacts_phone {
        font-size: 27px;
    }
    .footer__icons{
        width: 190px;
    }
}
